<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
       
        <th scope="col">TITLe</th>
        <th scope="col">DURATION</th>
        <th scope="col">DATE</th>
        <th scope="col">VENUE</th>
        <th scope="col">DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of courseData">
        <td>{{i.courseTitle}}</td>
        <td>{{i.courseDuration}}</td>
        <td>{{i.courseDate}}</td>
        <td>{{i.courseVenue}}</td>
        <td>{{i.courseDescription}}</td>
      </tr>
      
    </tbody>
  </table>